#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 > #backgroundBox {
  position: absolute;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 > #alignmentBox {
  position: relative;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Image_1 {
  position: absolute;
  width: 1920.000000000001px;
  height: 1079.9999999999995px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Dynamic_Panel {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Panel_1 {
  width: 1349.9999999999995px;
  height: 861.0000000000007px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Panel_1 td.layout {
  padding: 0px 0px 0px 0px;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Panel_1 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Panel_1 .verticalalign {
  vertical-align: top;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Image_5 .imageViewport > * {
  width: 121.19867174999726%;
  height: 100.0%;
  left: -8.252028809370572%;
  top: -0.0%;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Image_5 {
  position: absolute;
  width: 111.38735932558029px;
  height: 100.00000000000006px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Image_3 {
  position: absolute;
  width: 110.88735932558029px;
  height: 107.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Image_6 .imageViewport > * {
  width: 154.32184589283665%;
  height: 129.29999703858138%;
  left: -21.6659272095412%;
  top: 1.1777918603572292E-13%;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Image_6 {
  position: absolute;
  width: 100.61656603691222px;
  height: 98.52540618436137px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Image_8 .imageViewport > * {
  width: 131.66042395616535%;
  height: 137.26403127119994%;
  left: -16.84667164112359%;
  top: -0.0%;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Image_8 {
  position: absolute;
  width: 110.24165606314182px;
  height: 106.05081236872206px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Text_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial Rounded MT Bold',Arial;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Text_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Text_1 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial Rounded MT Bold',Arial;
  font-size: 36.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial Rounded MT Bold',Arial;
  font-size: 36.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Text_2 {
  position: absolute;
  width: 658.2656249999998px;
  min-height: 55.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial Rounded MT Bold',Arial;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Text_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Text_2 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial Rounded MT Bold',Arial;
  font-size: 36.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial Rounded MT Bold',Arial;
  font-size: 36.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Text_3 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial Rounded MT Bold',Arial;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Text_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Text_3 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial Rounded MT Bold',Arial;
  font-size: 36.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial Rounded MT Bold',Arial;
  font-size: 36.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Text_5 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial Rounded MT Bold',Arial;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Text_5 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Text_5 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Text_5 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial Rounded MT Bold',Arial;
  font-size: 36.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Text_5 span#rtr-s-Text_5_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial Rounded MT Bold',Arial;
  font-size: 36.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Text_6 {
  position: absolute;
  width: 714.3125px;
  min-height: 55.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial Rounded MT Bold',Arial;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Text_6 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Text_6 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Text_6 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial Rounded MT Bold',Arial;
  font-size: 36.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Text_6 span#rtr-s-Text_6_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial Rounded MT Bold',Arial;
  font-size: 36.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Text_7 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial Rounded MT Bold',Arial;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Text_7 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Text_7 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Text_7 span {
  color: #FD0101;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial Rounded MT Bold',Arial;
  font-size: 36.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Text_7 span#rtr-s-Text_7_0 {
  color: #FD0101;
  text-decoration: none;
  font-family: 'Arial Rounded MT Bold',Arial;
  font-size: 36.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Text_8 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial Rounded MT Bold',Arial;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Text_8 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Text_8 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Text_8 span {
  color: #FD0101;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial Rounded MT Bold',Arial;
  font-size: 36.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Text_8 span#rtr-s-Text_8_0 {
  color: #FD0101;
  text-decoration: none;
  font-family: 'Arial Rounded MT Bold',Arial;
  font-size: 36.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Text_9 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial Rounded MT Bold',Arial;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Text_9 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Text_9 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Text_9 span {
  color: #FD0101;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial Rounded MT Bold',Arial;
  font-size: 36.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Text_9 span#rtr-s-Text_9_0 {
  color: #FD0101;
  text-decoration: none;
  font-family: 'Arial Rounded MT Bold',Arial;
  font-size: 36.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Text_10 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial Rounded MT Bold',Arial;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Text_10 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Text_10 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Text_10 span {
  color: #FD0101;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial Rounded MT Bold',Arial;
  font-size: 36.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Text_10 span#rtr-s-Text_10_0 {
  color: #FD0101;
  text-decoration: none;
  font-family: 'Arial Rounded MT Bold',Arial;
  font-size: 36.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Panel_2 {
  width: 1349.9999999999995px;
  height: 847.0000000000002px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Panel_2 td.layout {
  padding: 0px 0px 0px 0px;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Panel_2 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Panel_2 .verticalalign {
  vertical-align: top;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Text_20 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial Rounded MT Bold',Arial;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Text_20 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Text_20 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Text_20 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial Rounded MT Bold',Arial;
  font-size: 36.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Text_20 span#rtr-s-Text_20_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial Rounded MT Bold',Arial;
  font-size: 36.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Text_21 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial Rounded MT Bold',Arial;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Text_21 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Text_21 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Text_21 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial Rounded MT Bold',Arial;
  font-size: 36.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Text_21 span#rtr-s-Text_21_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial Rounded MT Bold',Arial;
  font-size: 36.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Text_22 {
  position: absolute;
  width: 445.97656250000006px;
  min-height: 55.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial Rounded MT Bold',Arial;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Text_22 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Text_22 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Text_22 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial Rounded MT Bold',Arial;
  font-size: 36.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Text_22 span#rtr-s-Text_22_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial Rounded MT Bold',Arial;
  font-size: 36.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Text_23 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial Rounded MT Bold',Arial;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Text_23 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Text_23 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Text_23 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial Rounded MT Bold',Arial;
  font-size: 36.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Text_23 span#rtr-s-Text_23_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial Rounded MT Bold',Arial;
  font-size: 36.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Paragraph_2 {
  position: absolute;
  width: 1305.0039062500014px;
  min-height: 73.00000000000011px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial Rounded MT Bold',Arial;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Paragraph_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Paragraph_2 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial Rounded MT Bold',Arial;
  font-size: 27.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial Rounded MT Bold',Arial;
  font-size: 27.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Paragraph_3 {
  position: absolute;
  width: 1305.003906250001px;
  min-height: 73.00000000000011px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial Rounded MT Bold',Arial;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Paragraph_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Paragraph_3 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial Rounded MT Bold',Arial;
  font-size: 27.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial Rounded MT Bold',Arial;
  font-size: 27.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Paragraph_4 {
  position: absolute;
  width: 1305.0039062500005px;
  min-height: 73.00000000000023px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial Rounded MT Bold',Arial;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Paragraph_4 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: left;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Paragraph_4 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial Rounded MT Bold',Arial;
  font-size: 27.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial Rounded MT Bold',Arial;
  font-size: 27.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Panel_3 {
  width: 1349.9999999999995px;
  height: 857.0000000000002px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Panel_3 td.layout {
  padding: 0px 0px 0px 0px;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Panel_3 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Panel_3 .verticalalign {
  vertical-align: top;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Text_11 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial Rounded MT Bold',Arial;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Text_11 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Text_11 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Text_11 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial Rounded MT Bold',Arial;
  font-size: 36.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Text_11 span#rtr-s-Text_11_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial Rounded MT Bold',Arial;
  font-size: 36.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Text_12 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial Rounded MT Bold',Arial;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Text_12 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Text_12 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Text_12 span {
  color: #FF0000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial Rounded MT Bold',Arial;
  font-size: 36.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Text_12 span#rtr-s-Text_12_0 {
  color: #FF0000;
  text-decoration: none;
  font-family: 'Arial Rounded MT Bold',Arial;
  font-size: 36.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Text_13 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial Rounded MT Bold',Arial;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Text_13 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Text_13 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Text_13 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial Rounded MT Bold',Arial;
  font-size: 36.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Text_13 span#rtr-s-Text_13_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial Rounded MT Bold',Arial;
  font-size: 36.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Image_4 .imageViewport > * {
  width: 100.0%;
  height: 128.29879454746745%;
  left: -0.0%;
  top: -0.0%;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Image_4 {
  position: absolute;
  width: 317.9648437499982px;
  height: 189.23357114082614px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Image_7 {
  position: absolute;
  width: 288.0px;
  height: 255.9999999999999px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Image_9 {
  position: absolute;
  width: 282.8359374999964px;
  height: 255.8276090600757px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Image_11 {
  position: absolute;
  width: 330.09570312499636px;
  height: 300.00000000000045px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Image_12 {
  position: absolute;
  width: 288.00000000000045px;
  height: 226.70071342247866px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Image_13 {
  position: absolute;
  width: 339.57812500000364px;
  height: 226.70071342247866px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Rectangle_2 {
  position: absolute;
  width: 246.73632812500045px;
  min-height: 61.74113856068743px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  mix-blend-mode: luminosity;
  filter:  drop-shadow(7.071067811865475px 7.0710678118654755px 5px #404040);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Semibold_wgt600',Arial;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Rectangle_2 > .backgroundLayer {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Rectangle_2 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #777777;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #777777;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #777777;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #777777;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Rectangle_2 > .backgroundLayer {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Rectangle_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Rectangle_2 span {
  color: #282828;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Semibold_wgt600',Arial;
  font-size: 27.0pt;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #282828;
  text-decoration: none;
  font-family: 'OpenSans-Semibold_wgt600',Arial;
  font-size: 27.0pt;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Rectangle_3 {
  position: absolute;
  width: 246.73632812499773px;
  min-height: 71.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  mix-blend-mode: luminosity;
  filter:  drop-shadow(7.071067811865475px 7.0710678118654755px 5px #404040);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Semibold_wgt600',Arial;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Rectangle_3 > .backgroundLayer {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Rectangle_3 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Rectangle_3 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #DEDDDD;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #DEDDDD;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #DEDDDD;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #DEDDDD;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Rectangle_3 > .backgroundLayer {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Rectangle_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Rectangle_3 span {
  color: #282828;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Semibold_wgt600',Arial;
  font-size: 27.0pt;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #282828;
  text-decoration: none;
  font-family: 'OpenSans-Semibold_wgt600',Arial;
  font-size: 27.0pt;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Rectangle_4 {
  position: absolute;
  width: 246.7363281250009px;
  min-height: 64.8539205155746px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  mix-blend-mode: luminosity;
  filter:  drop-shadow(7.071067811865475px 7.0710678118654755px 5px #404040);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Semibold_wgt600',Arial;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Rectangle_4 > .backgroundLayer {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Rectangle_4 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Rectangle_4 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #777777;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #777777;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #777777;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #777777;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Rectangle_4 > .backgroundLayer {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Rectangle_4 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Rectangle_4 span {
  color: #282828;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Semibold_wgt600',Arial;
  font-size: 27.0pt;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #282828;
  text-decoration: none;
  font-family: 'OpenSans-Semibold_wgt600',Arial;
  font-size: 27.0pt;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Rectangle_5 {
  position: absolute;
  width: 246.736328125px;
  min-height: 70.92696025778741px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  mix-blend-mode: luminosity;
  filter:  drop-shadow(7.071067811865475px 7.0710678118654755px 5px #404040);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Semibold_wgt600',Arial;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Rectangle_5 > .backgroundLayer {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Rectangle_5 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Rectangle_5 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #777777;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #777777;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #777777;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #777777;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Rectangle_5 > .backgroundLayer {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Rectangle_5 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Rectangle_5 span {
  color: #282828;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Semibold_wgt600',Arial;
  font-size: 27.0pt;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #282828;
  text-decoration: none;
  font-family: 'OpenSans-Semibold_wgt600',Arial;
  font-size: 27.0pt;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Text_4 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular_wgt400',Arial;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Text_4 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Text_4 span {
  color: #B2B2B2;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 11.0pt;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Text_4 span#rtr-s-Text_4_0 {
  color: #B2B2B2;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 11.0pt;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Image .imageViewport > * {
  width: 100.0%;
  height: 343.6266096288269%;
  left: -0.0%;
  top: -100.41143209489516%;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Image {
  position: absolute;
  width: 1091.9999999999995px;
  height: 159.1338282055918px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Image_35 {
  position: absolute;
  width: 324.99999999999955px;
  height: 293.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Paragraph {
  position: absolute;
  width: 156.71875px;
  min-height: 55.99999999999994px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial Rounded MT Bold',Arial;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Paragraph .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Paragraph .valign {
  vertical-align: top;
  text-align: left;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Paragraph span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial Rounded MT Bold',Arial;
  font-size: 36.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Paragraph span#rtr-s-Paragraph_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial Rounded MT Bold',Arial;
  font-size: 36.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Paragraph_1 {
  position: absolute;
  width: 371.0039062500009px;
  min-height: 73.00000000000011px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial Rounded MT Bold',Arial;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Paragraph_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: center;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Paragraph_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial Rounded MT Bold',Arial;
  font-size: 27.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial Rounded MT Bold',Arial;
  font-size: 27.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Rectangle_9 {
  position: absolute;
  width: 100.15112705298436%;
  min-height: 100.14036209501907%;
  opacity: 0.7;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Rectangle_9 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Rectangle_9 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Rectangle_9 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Rectangle_9 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Rectangle_9 span#rtr-s-Rectangle_9_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Rectangle_10 {
  position: absolute;
  width: 974.8463068883294px;
  min-height: 246.05699194199696px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(-0.0px -0.0px 9px #EFEFEF);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-SemiBold_wgt600',Arial;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Rectangle_10 > .backgroundLayer {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Rectangle_10 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Rectangle_10 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #EFEFEF;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #EFEFEF;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #EFEFEF;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #EFEFEF;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Rectangle_10 > .backgroundLayer {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Rectangle_10 .paddingLayer:first-child {
  padding-top: 30px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Rectangle_10 .valign {
  vertical-align: top;
  text-align: center;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Rectangle_10 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat-SemiBold_wgt600',Arial;
  font-size: 27.0pt;
  line-height: 24px;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Rectangle_10 span#rtr-s-Rectangle_10_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Montserrat-SemiBold_wgt600',Arial;
  font-size: 27.0pt;
  line-height: 24px;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Paragraph_14 {
  position: absolute;
  width: 355.7282564782946px;
  min-height: 80.84789826359383px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  filter:  drop-shadow(-1.8369701987210297E-16px 3.0px 5px #D9D9D9);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat-Medium_wgt500',Arial;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Paragraph_14 > .backgroundLayer {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Paragraph_14 > .backgroundLayer > .colorLayer {
  background-color: #3FB1EE;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Paragraph_14 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #3FB1EE;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #3FB1EE;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #3FB1EE;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #3FB1EE;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Paragraph_14 > .backgroundLayer {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Paragraph_14 .paddingLayer:first-child {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Paragraph_14 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Paragraph_14 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat-Medium_wgt500',Arial;
  font-size: 27.0pt;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 #s-Paragraph_14 span#rtr-s-Paragraph_14_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Montserrat-Medium_wgt500',Arial;
  font-size: 27.0pt;
}

.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}

.non_jim_mobile #simulation {
  overflow-x: hidden;
}

.web #simulation {
  overflow-x: hidden;
}

#s-5e146f3e-9bee-4f37-9565-ac868bddeec9 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}
